<i *ngIf="loading" class="fas fa-sync fa-spin" style="font-size: 100px;"></i>
<div *ngIf="error" class="alert alert-danger" role="alert">
    {{mensajeError}}
</div>
<div class="card" *ngIf="questions.length > 0">
    <div class="card-header">
        {{ questions[question]['category'] }}
    </div>
    <div class="text-muted">
        {{ question + 1 }} of {{ questions.length }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ questions[question]['question'] }}</h5>
        <button (click)="answer('True')" class="btn btn-primary btn-block">True</button>
        <button (click)="answer('False')" class="btn btn-danger btn-block">False</button>
    </div>

</div>